@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Nunito", sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
}

body.lock {
    overflow: hidden;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-ms-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.main__wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    height: 100%;
}

.main__background {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    z-index: 100;

background: url('./assets/overlay-2.png') center center;
}

.main__container {
    position: absolute;
    z-index: 300;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    
}


.container__form {

    height: 525px;
    width: 1024px;

    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    

}

.main__desc {
    width: 521px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.desc__name_desc {
   color: #3850d5;
   font-size: 40px;
   font-weight: 600; 
   margin-bottom: 10px;

}

.desc__name {
    color: #1e3547;
    font-size: 45px;
    margin-bottom: 10px;
}

.desc__desc {
    font-size: 18px;
    color: #828f99;
    line-height: 27px;
    margin-bottom: 20px;
}

.domain__desc__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.domain__desc__element {
    width:  48%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}

.domain__element_image {
    margin-right: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #3850d5;
}

.domain__offer_desc {
    display: flex;
    align-items: center;
}
.domain__offer_desc p:nth-child(1){
    color: #1e3547;
    font-size: 16px;
    font-weight: 600;
}
.domain__offer_desc p:nth-child(2){
    color: #3850d5;
    font-size: 20px;
    margin-left: 5px;
}   

/**********************/
.main__form {
    width: 376px;
    margin-left: 90px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 48px 24px;
}

.main__form__container {
    width: 100%;
    height: 100%;
    
}

.main__form__name {
   font-size: 24px;
   color: #3850d5;
   margin: 0 auto;
   text-align: center;
   font-weight: 600; 
}

.main__form__desc {
    margin-top: 10px;
    color: #828f99;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
}

.main__form__fields {}

.form__2inputblock {
    height: 44px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.form__2inputblock .form__input__block {
    width: 152px;
    height: 44px;
    border-radius: 6px;
    border: 1px solid #d6dade;
    
}
.form__input__block input {
    font-size: 14px;
    color: #828f99;
    padding: 5px 7px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.form__inputblock {
    width: 100%;
}
.form__inputblock .form__input__block {
    border-radius: 6px;
    border: 1px solid #d6dade;
    height: 44px;
    width: 100%;
    margin-top: 20px;
}
.form__inputblock .form__input__block input{
    border-radius: 6px;
    width: 100%;
    height: 100%;
}
.form__input__textarea {
    border-radius: 6px;
    border: 1px solid #d6dade;
    height: 104px;
    width: 100%;
    margin-top: 20px;
}
.form__input__textarea  textarea{
    border-radius: 6px;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 5px 7px;
    font-size: 14px;
    color: #828f99;

}

.form__input__button {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__input__button button{
    background-color: #3850d5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 165px;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 700;
    border-radius: 7px;
    margin-top: 40px;
}

.domain__list {}

.domain__list__desc {}

.list__desc {}

.domain__list__list {}

.list__element {}

.list__element__name {}

.list__element__price {}